@font-face {
	font-family: 'arial';
	font-weight: normal;
	font-style: normal;
}

.cbp-bislideshow {
	list-style: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 0;
	margin: 0;
}

.cbp-bislideshow li {
	position: absolute;
	width: 101%;
	height: 101%;
	top: -0.5%;
	left: -0.5%;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
}

/* If background-size supported we'll add the images to the background of the li */

.backgroundsize .cbp-bislideshow li {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: right center;
}

/* ...and hide the images */
.backgroundsize .cbp-bislideshow li img {
	display: none;
}

.cbp-bislideshow li img {
	display: block;
	width: 100%;
}

.cbp-bicontrols span{
	float: left;
	/*width: 100px;
	height: 100px;*/
	position: relative;
	cursor: pointer;
}

.cbp-bicontrols span:before {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	font-family: 'arial';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 100px;
	font-size: 80px;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	opacity: 0.7;
}

.cbp-bicontrols span:hover:before {
	opacity: 1;
}

.cbp-bicontrols span:active:before {
	top: 2px;
}
/*
span.cbp-biplay:before {
	content: "\e002";
}

span.cbp-bipause:before {
	content: "\e003";
}

span.cbp-binext:before {
	content: "\e000";
}

span.cbp-biprev:before {
	content: "\e001";
}*/
.cbp-bipause{
	width: 74%;
	box-sizing: border-box;
}
.cbp-bipause h2{
	width: 100%;
	text-align: center;	
	padding: 20px 10px 0px;
	font-size: 1.1em;
	font-weight: 600;
	color: #FFF;
}
.cbp-bipause p{
	width: 100%;
	text-align: center;
	padding: 0px 10px;
	font-size: .8em;
	color: #FFF;
}

span.cbp-biprev, span.cbp-binext{
	width: 13%;
	height: 100%;
	box-sizing: border-box;
}
span.cbp-biprev{
	background: url(../images/arrow_prev.png) no-repeat #2A5BA7 center;
}

span.cbp-binext{
	background: url(../images/arrow_next.png) no-repeat #2A5BA7 center;
}


.cbp-bicontrols span.cbp-binext {
	float: right;
}

/* Fallback */

.no-js.no-backgroundsize .cbp-bislideshow li:first-child {
	opacity: 1;
}

.no-js.backgroundsize .cbp-bislideshow li:first-child img {
	display: block;
}




/*INICIO STICK*/

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    /*-webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);*/
    width: 93% !important;
    transform:inherit !important;
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;    min-height: 105px;    min-width: 76px;max-width: 76px;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.dslider .slick-slider .slick-list {display: inline-block;    padding: 0 35px;    max-width: 88%;}
.dslider li.option{list-style: none;display: inline;float: left;width: 76px;height: 80px;text-align: center;}
ol, ul {list-style: none;}
.dslider li.option:hover {background: url(../images/back-trans-tool.png);}
#btn-adelante{float: right;background: url(../images/arrow_next.png) no-repeat #1F396C center;top: 0;position: absolute;}
.slick-next{ position: absolute;height: 100%;width: 55px;background: transparent;border: none;right: 0;z-index: 9;font-size: 0;top: 0;}
.slick-prev{position: absolute;height: 100%;width: 55px;background: transparent;border: none;left: 0;z-index: 9;font-size: 0;top: 0;}
